.chat-container {
    display: flex;
    flex-direction: column;
    height: 100%; /* Take full height of the container */
}

.message-area {
    flex-grow: 1; /* Take up available space */
    overflow-y: auto; /* Enable scrolling for overflow */
    padding: 10px;
    background-color: #f0f0f0; /* Light background for the message area */
}

.message {
    display:flex;
    justify-content: start;
    align-items: center;
    background-color: white;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 4px;
    gap: 10px;
}

.my-message {
    background-color: #DCF8C6
}

.other-message {
    background-color: #ECECEC;
}

.message-sender{
    font-weight: bold;
    flex-shrink: 0;
    margin-right: 10px;
}

.message-text {
    flex:1;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
}


.timestamp {
    font-size: 0.8em;
    color:grey;
    white-space:nowrap;
    flex-shrink: 0;
    margin-left:auto;
}

.input-area {
    display: flex;
    padding: 10px;
    background-color: #ddd; /* Different background for the input area */
}

.input-area input {
    flex-grow: 1; /* Input takes available space */
    margin-right: 10px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.input-area button {
    padding: 8px 15px;
    border-radius: 4px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}
